.new-con{
    text-indent: 32px;
    color: #888888;
    border: 1px solid #cccccc;
    padding: 32px;
}
span{color: #FF0000;}
.p1{
    color: #000;
    font-size: 20px;
    text-align: center;
}
.p2{
    color: #cccccc;
    text-align: center;
    border-bottom: 1px solid #000;
}
.p3{
    color: #000;
    text-align: center;
}
.p4{
    /*font-size: 1.2rem;*/
    font-weight: bold;
    color: #000;
}